.smallContainer{
  max-width: 1100px;
  width:95%;
  margin: 0 auto;
}
.categoryGrid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
.itemBox{
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
  padding: 0 10px;
  
}
.itemBox img{
  height: 230px;
  width: 100%;
  object-fit: cover;
  
}
.itemBox h1{
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  margin: 5px 0;
  color: #333;
  transition: 0.3s ease color;
  cursor: pointer;
}
.itemBox p{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.itemBox p:last-child{
  color: rgb(65, 65, 247);
  font-size: 18px;
  margin: 10px 0;
}
.itemBox:first-child{
  grid-column: 1/3;
  position: relative;
  cursor: pointer;
  padding: 0;
  box-shadow: unset;
}
.itemBox:first-child img{
  width: 100%;
  height: auto;
}
.itemBox:first-child::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.itemBox:first-child  h1{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  z-index: 10;
  transition: 0.3s ease color;
  line-height: 35px;
}
.itemBox h1:hover{
  color: rgb(253, 54, 54);
}
.itemBox:first-child p{
  display: none;
}
.singleNews{
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 733px;
  padding: 20px;
  
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.05);
  margin: 20px auto 20px;
  gap: 10px;
}
.singleNews:nth-child(even){
  flex-direction: row-reverse;
}
.singleNews img{
  width: 50%;
  height: 220px;
  
}

@media only screen and (max-width:900px) {
  .categoryGrid{
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width:600px) {
  .categoryGrid{
    grid-template-columns: auto;
  }
  .itemBox:first-child{
    grid-column: 1/1;
  }
  .singleNews:nth-child(even){
    flex-direction: column;
  }
  .singleNews{
    flex-direction: column;
  }
  .singleNews img{
    width: 100%;
  }
}