/* header start */
.header{
  padding: 20px 0;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
}
.covidHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img{
  width: 2rem;
}
.header h1{
  font-size: 1.5rem;
  color: var(--white)
}
.header p{
  color: var(--white);
  font-weight: 500;
}
.header a{
  font-size: 1.2rem;
  color: var(--white);
  font-weight: 500;
}
/* header end */

/* global data start */
.global{
  margin-top: 15px;
  margin-bottom: 10x;
}
.title{
  color: rgb(143, 143, 250);
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 25px;
}
.globalRow{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.lasUpdate{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.lasUpdate > div{
  text-align: center;
  padding: 15px;
  border-radius: .3rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.lasUpdate > div h1{
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 25px;
  color: #333;
}
.lasUpdate > div p{
  color: #777;
  font-size: 1rem;
  font-weight: 400;
}
.chart{
  border-radius: .3rem;
  padding-bottom: 20px;
  width: 635px;
  height: 350px;
}
.indicateColor  {
  display: flex; flex-wrap: wrap;
  position: relative;
  gap: 5px;
}
.indicateColor > div{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 20px;
  color: var(--white);
}
/* global data end */

/* all country data start*/
.countriesUpdate{
  padding: 25px 0 50px;
}
.searchBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;
}
.searchBar input{
  padding: 8px 15px;
  outline: none;
  background-color: #efefef;
  color: #555;
  font-size: 1.1rem;
}
.searchBar input::placeholder{
  color: var(--transparent-white);
}
.tableContainer{
  height: 100vh;
  overflow: scroll;
  position: relative;
}
.table{
  width: 100%;
  min-width: 1100px;
  background-color: var(--secondary-bg);
  border-collapse: collapse;
}
.table thead{
  position: sticky;
  top: 0;
  z-index: 100;
  background: #efefef;
}
.table thead tr td{
  padding: 15px 10px;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
}
.table tbody tr .nameFlag{
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
}
.table tbody tr .nameFlag img{
  width: 40px;
}
.table tbody tr td{
  padding: 10px 15px;
  border: none;
  font-weight: 500;
}
.table tbody tr td:first-child{
  background: #efefef;
  text-align: center;
}
.table tbody tr:nth-child(even){
  background-color: rgba(0, 0, 0, 0.03);
}
.tableContainer::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.tableContainer::-webkit-scrollbar-corner{
  background: #efefef;
}
/* all country data end*/

@media only screen and (max-width:1100px){
  .globalRow{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width:768px){
  .searchBar{
    flex-direction: column;
    align-items: flex-start;
  }
  .chart{
    width: 500px;
  }
}
@media only screen and (max-width:600px){
  .chart{
    width: 400px;
  }
}
@media only screen and (max-width:450px){
  .header .container{
    flex-direction: column;
    gap: 20px;
  }
  .chart{
    width: 300px;
  }
  .lasUpdate{
    grid-template-columns: repeat(1, 1fr);
  }
}