@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


















.s-item-ul{
  display: flex;
}
.s-item-ul li{
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
}
.s-item-ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
.s-item-ul li:nth-child(1):before{
  background: #4267B2;
}
.s-item-ul li:nth-child(2):before{
  background: #1DA1F2;
}
.s-item-ul li:nth-child(3):before{
  background: #E1306C;
}
.s-item-ul li:nth-child(4):before{
  background: #2867B2;
}
.s-item-ul li:nth-child(5):before{
  background: #ff0000;
}
.s-item-ul li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
.s-item-ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
.s-item-ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
.s-item-ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
.s-item-ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
.s-item-ul li:nth-child(5):hover:before{
  box-shadow: 0 0 15px #ff0000;
}
.s-item-ul li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
.s-item-ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
.s-item-ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
.s-item-ul li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}
.s-item-ul li:nth-child(5):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}