.slidRow{
  display: flex;
  justify-content: space-between;
  height: 80vh;
}
.firstSlider{
  width: 65%;
}
.secondSlide{
  width: 33%;
}
.overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0,0,0,0.8),rgba(0,0,0,0.05));
  position: absolute;
}

@media only screen and (max-width:1100px){
  .firstSlider{
    width: 55%;
  }
  .secondSlide{
    width: 43%;
  }
}
@media only screen and (max-width:850px){
  .slidRow{
    flex-direction: column;
    height: auto;
    gap: 30px;
  }
  .firstSlider{
    width: 100%;
  }
  .secondSlide{
    width: 100%;
    height: 80vh;
  }
}