 @import url("https://fonts.googleapis.com/css?family=Roboto");


/* Login button  */
.reg {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

 /* Side Nav  */
.link {
  margin-left: 20px;
  text-decoration: none;
  color: #161616;
  transition: color 0.4s ease;
}
.link:hover,
.link:active,
.link.active {
  color: #ff0000;
}
.nav {
  float: left;
  width: 0;
  height: 0;
}
.navData {
  position: absolute;
  width: 240px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  /* padding: 125px 10px 40px; */
  background: #ededed;
  list-style-type: none;
}
.navData li {
  padding: 10px 25px;
  font-size: 16px;
}
.navData li a {
  padding: 0;
} 
.navData .separator {
  padding: 0;
  border-bottom: 3px solid #e6e7ea;
  cursor: default;
  margin: 6px 0;
}
.clickNav {
  display: block;
  position: relative;
  top: 12px;
  left: 20px;
  z-index: 1.5;
}
.clickNav input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  -webkit-touch-callout: none;
}
.clickNav input:checked ~ ul {
  -webkit-transform: none;
  transform: none;
}

.clickNav span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ff0101;
  border-radius: 3px;
  z-index: 1;
}
.clickNav span {
  -webkit-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.clickNav span:first-child {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.clickNav span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.clickNav input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.clickNav input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}

.clickNav input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px);
}

.navData {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  transition: -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1),
    -webkit-transform 0.6s cubic-bezier(0.77, 0.2, 0.05, 1);
} 



